  .return{
      display: flex;
      justify-content: center;
  }
  .form{
      display: flex;
      margin: auto;
      flex-direction: column;
      width: 50vh;
     padding: 5px;
 }
 .form label{
     padding: 0.2rem;
 }
 .form input{
    padding: 0.2rem;
     
 }
 .form button{
     margin: 0.2rem;
     width: 11vh;
     border-radius: 1rem;
     color: white;
     background-color: black;
     padding: 0.5rem;
     font-size: 0.6rem;
 }
 .main{
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 50vh;
    padding: 5px;
    gap: 1rem;
 }
 .vote{
   font-size: small;
 }
.object{
  padding: 0.5rem;
  border-radius: 0.2rem;
  margin: 0.1rem;
  cursor: pointer;
}
.object:hover{
  background-color: #efefef;
}
.object:hover .minus{
  visibility: visible; 
}
.horizon{
  border-bottom: 1px solid #efefef;
}
.minus{
  float: right;
  position: relative;
  bottom: 1rem;
  left: 0.5rem;
  width: 1rem;
  visibility: hidden; 
}
.updown{
  border: none;
  background-color: #fff;
  opacity: 0.7;
}

.url{
  opacity: 0.5;
  position: relative;
  bottom: 0.6rem;
  font-size: small;
  word-wrap: break-word;
}
.point{
  background-color:#efefef;
  border: 1px solid black;
  border-radius: 5px;
  display: grid;
  font-size: 0.7rem;
  place-items: center;
  height: 100px;
  position: relative;
  top: 0.3rem;
  right: 0.2rem; 
}
.number{
  font-size:xx-large;
}
.select{
  width: 10rem;
  border-radius: 0.2rem;
}
.submit{
background-color: #efefef;
padding: 1rem;
text-align: left;
display: flex;
align-items: center;
border-radius: 0.2rem;
}
.link{
  position: relative;
  left: 0.4rem;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  transition: all 0.3s linear;
  visibility: hidden;
  z-index: -1;
}
.show-modal {
  visibility: visible;
  z-index: 10;
}
.modal-container {
  background: #fff;
  border-radius: 0.25rem;
  width: 50vh;
  height: 30vh;
  max-width: 620px;
  text-align: center;
  display: block;
  place-items: center;
  position: relative;
}
.close-modal-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: hsl(360, 67%, 44%);
  cursor: pointer;
}
.modalHeader{
  color: #fff;
  background-color: rgb(11, 10, 10);
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
}
.modalContent{
  margin-top: 1rem;
  opacity: 0.6;
}
.modalFooter{
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}
.ok, .cancel{
  width: 5rem;
  border-radius: 20px;
  color: white;
  background-color: black;
}
.close-btn{
  background-color: black;
  color: #fff;
  font-weight: bolder;
  border: none;
}
.removeLink{
  margin-top: 0.5rem;
}
.navPagination{
  color: grey;
  margin: auto;  
}
.pagination{
  color: grey !important;
}