.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: grid;
    place-items: center;
    transition: all 0.3s linear;
    visibility: hidden;
    z-index: -1;
  }
  .showModal {
    visibility: visible;
    z-index: 10;
  }
  .modalContainer {
    background: #fff;
    border-radius: 0.25rem;
    width: 90vw;
    height: 30vh;
    max-width: 200px;
    text-align: center;
    display: grid;
    place-items: center;
    position: relative;
  }
  .closeModalBtn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1rem;
    background: transparent;
    border-color: transparent;
    color: hsl(360, 67%, 44%);
    cursor: pointer;
  }
  .return{
      display: flex;
      justify-content: center;
  }
  .form{
      display: flex;
      margin: auto;
      flex-direction: column;
      width: 50vh;
      padding: 5px;
     
 }

 .form label{
     padding: 0.2rem;
 }

 .form input{
    padding: 0.2rem;
     
 }
 .form button{
     margin: 0.2rem;
     width: 11vh;
     border-radius: 1rem;
     color: white;
     background-color: black;
     padding: 0.5rem;
     font-size: 0.6rem;
 }

 .main{
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 50vh;
    padding: 5px;
 }

 .vote{
   font-size: small;
 }

 .container{
   background-color: red;
 }
 .vote{
  background-color: green;
}

.object{
  background-color: aqua;
  height: 20%;
 
}
.point{
  background-color:yellow;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 0.7rem;
}
.submit{
  background-color: bisque;
}
.link{
  background-color: grey;
}
.arrow{
  background-color: pink;
}